/*PREFERENCES*/
/*
Align members who are single;
!! Warning: CANNOT be used for small branches,
but can be used for large branches.
*/
ul {display: inline-block;}

/*Set background color*/
.male{background-color: lightblue;}
.female{background-color: lightpink;}

/*Couple side by side in box*/
couple {
    display: flex;
    flex-direction: row;
}

/*Vertical writing direction for Chinese*/
individual {
    font-size: 1em;
    max-width: 1.1em;
    line-height: 1.1em;
    text-align: center;
    padding: 0.5em; /*change padding of box [0.7em]*/
}


/*TREE DIAGRAM CSS*/
/*
The implementation of drawing the tree diagram is
borrowed from Ross Angus, with slight tweak to fit
custom HTML structure.
Found on: https://www.cssscript.com/clean-tree-diagram/
Demo on: https://codepen.io/ross-angus/pen/jwxMjL
Accessed on 21 Dec 2020
*/
/* It's supposed to look like a tree diagram */
.tree, .tree ul, .tree li {
list-style: none;
margin: 0;
padding: 0;
position: relative;
}

.tree {
margin: 0 0 1em;
text-align: center;
}
.tree li {
display: table-cell;
padding: .5em 0;
vertical-align: top;
}

/* Create horizontal lines */
/* _________ */
.tree li:before {
outline: solid 1px gray;
content: "";
left: 0;
position: absolute;
right: 0;
top: 0;
}
.tree li:first-child:before {left: 50%;}
.tree li:last-child:before {right: 50%;}

.tree box, .tree span {
border-top: solid 0.1em gray;
border-bottom: solid 0.1em gray;
display: inline-block;
margin: 0 0.2em 0.5em; /*second value to change horizontal spread [0 0.5em 0.5em]*/
padding: 0;
position: relative;
}

/* Create vertical lines */
/* | */
.tree ul:before,
.tree box:before,
.tree span:before {
outline: solid 1px gray;
content: "";
height: .5em;
left: 50%;
position: absolute;
}
.tree ul:before {
top: -.5em;
}
.tree box:before,
.tree span:before {
top: -.55em;
}


